body {
background: #dbdada;
height: 100vh;

display: flex;
align-items: center;
justify-content: center;

}
.caixa {
        background: white;

        width: 390px;
        padding: 80px 35px 30px 35px;
}
.titulo{
    font-weight: bold;
    color: #333333;
    margin-bottom: 12px;
    font-size: 30px;
    text-align: center;
}

.logo{
    background: black;
    color: white;
    width: fit-content;
    place-self: center;
    font-size: 40px;
    padding: 0 5px;
    border-radius: 15px;
    
}
.login{
    display: flex;
    flex-direction: column;
}

input {
 height: 30px;
 border: none;
 border-bottom: 2px solid #adadad ;
}

button {
 padding: 4px 20px;
 background: linear-gradient(to rigth, #21d4fd, #b721ff);
 color: white;
 border: none;
}